.externalToolBuilders/
.settings/
.idea/
**/WEB-INF/lib/
classes/
gensrc/
idea-module-files/
testclasses/

.classpath
.project
.springBeans
platformhome.properties
*.xsd
*.jar

/log
/temp
/bin/*
!/bin/custom/
/bin/custom/lib/
/bin/custom/**/lib/
/bin/custom/**/*testclasses.xml
/bin/custom/**/*webtestclasses.xml
/bin/custom/**/build.xml

/roles
/data
/config/backup
/config/customize
/config/languages
/config/tcServer
/config/tomcat
/config/readme.txt
/config/hybris4intellij.properties

_ui/
**/wro_addons.xml
**/web/addonsrc/
**/web/commonwebsrc/
**/_ui-src/addons/
**/messages/addons/
**/tags/addons/
**/tld/addons/
**/views/addons/


